<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="PromoQuantityForA" value="3"/>
    <add key="PromoPriceForA" value="130"/>
    <add key="PromoQuantityForB" value="2"/>
    <add key="PromoPriceForB" value="45"/>
    <add key="PromoQuantityForC" value="1"/>
    <add key="PromoPriceForC" value="20"/>
    <add key="PromoQuantityForD" value="1"/>
    <add key="PromoPriceForD" value="15"/>
  </appSettings>
</configuration>